extends layout 

block content
  div.front 
    h1 Full Metal Alchemist Brotherhood
    p Ed Elric
    img(alt='fmab', src='https://http2.mlstatic.com/fullmetal-alchemist-brotherhood-anime-D_NQ_NP_737328-MPE26765107777_022018-O.webp')
    p
      a.btn.btn-primary.btn-lg(href='#', role='button') Read Manga